* All the data files used in this Notebook are taken from Kaggle

In [1]:
import pandas as pd
import numpy as np

In [28]:
train_data = pd.read_csv('train.csv')
train_data.dropna(how = 'all')
train_data.dropna(axis= 1, how = 'all') 
test_data = pd.read_csv('test.csv')
test_data.dropna(how = 'all')
test_data.dropna(axis= 1, how = 'all')
test_result = pd.read_csv('gender_submission.csv')

In [29]:
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# PREDICT 1

Without  'Name', 'Sex', 'Ticket', 'Cabin', 'Cabin', 'Embarked'  columns.

In [61]:
train1 = train_data.drop(['Name','Sex','Ticket','Cabin','Cabin','Embarked'],axis=1)

In [101]:
train1 = train1.dropna(how = 'any')
y_train = train1['Survived']
train_train = train1.drop(['Survived'],axis=1)
test1 = test_data.drop(['Name','Sex','Ticket','Cabin','Cabin','Embarked'],axis=1)
test1['Survived'] = test_result['Survived']
test1 = test1.dropna(how = 'any')
test_test = test1.drop(['Survived'],axis=1)
y_test = test1['Survived']
test_test

     PassengerId  Pclass   Age  SibSp  Parch      Fare
0            892       3  34.5      0      0    7.8292
1            893       3  47.0      1      0    7.0000
2            894       2  62.0      0      0    9.6875
3            895       3  27.0      0      0    8.6625
4            896       3  22.0      1      1   12.2875
..           ...     ...   ...    ...    ...       ...
409         1301       3   3.0      1      1   13.7750
411         1303       1  37.0      1      0   90.0000
412         1304       3  28.0      0      0    7.7750
414         1306       1  39.0      0      0  108.9000
415         1307       3  38.5      0      0    7.2500

[331 rows x 6 columns]

In [102]:
train_train

     PassengerId  Pclass   Age  SibSp  Parch     Fare
0              1       3  22.0      1      0   7.2500
1              2       1  38.0      1      0  71.2833
2              3       3  26.0      0      0   7.9250
3              4       1  35.0      1      0  53.1000
4              5       3  35.0      0      0   8.0500
..           ...     ...   ...    ...    ...      ...
885          886       3  39.0      0      5  29.1250
886          887       2  27.0      0      0  13.0000
887          888       1  19.0      0      0  30.0000
889          890       1  26.0      0      0  30.0000
890          891       3  32.0      0      0   7.7500

[714 rows x 6 columns]

In [97]:
y_train

0      0
1      1
2      1
3      1
4      0
      ..
885    0
886    0
887    1
889    1
890    0
Name: Survived, Length: 714, dtype: int64

In [98]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score

In [99]:
rf = RandomForestClassifier(n_estimators=50, class_weight='balanced')
tree = DecisionTreeClassifier(criterion="entropy")
gbm = GradientBoostingClassifier(learning_rate=0.2, max_depth=8)

RF

In [104]:
rf.fit(train_train,y_train)
y_pred = rf.predict(test_test)

In [109]:
f1_score(y_test,y_pred,average='micro')

0.622356495468278

TREE

In [110]:
tree.fit(train_train,y_train)
y_pred = tree.predict(test_test)

In [111]:
f1_score(y_test,y_pred,average='micro')

0.5498489425981873

GBM

In [112]:
gbm.fit(train_train,y_train)
y_pred = gbm.predict(test_test)

In [113]:
f1_score(y_test,y_pred,average='micro')

0.6102719033232629

NN

In [115]:
from sklearn.neural_network import MLPClassifier

In [200]:
nn = MLPClassifier(activation='relu',alpha=0.01,hidden_layer_sizes=(17,13))

In [201]:
nn.fit(train_train,y_train)
y_pred = nn.predict(test_test)

In [202]:
f1_score(y_test,y_pred,average='micro')

0.6404833836858006

# PREDICT 2

In [282]:
from sklearn.preprocessing import LabelEncoder
l = LabelEncoder()

In [346]:
train_2 = train_data.drop(['Survived'],axis=1)
test_2 = test_data

In [347]:
train_2['Name'] = l.fit_transform(train_2['Name']) # Encode all Names
train_2['Sex'] = l.fit_transform(train_2['Sex']) #Encode all Genders
train_2['Ticket'] = l.fit_transform(train_2['Ticket']) # Encode all states
train_2['Age'] = l.fit_transform(train_2['Age'])
#train_2['Cabin'] = l.fit_transform(train_2['Cabin'])
#train_2['Embarked'] = l.fit_transform(train_2['Embarked'])
# Unable to encode 'Cabin' and 'Embarked' so training and testing data without them.

In [348]:
train_2 = train_2.drop(['Cabin','Embarked'],axis=1)
train_2.head()

   PassengerId  Pclass  Name  Sex  Age  SibSp  Parch  Ticket     Fare
0            1       3   108    1   28      1      0     523   7.2500
1            2       1   190    0   51      1      0     596  71.2833
2            3       3   353    0   34      0      0     669   7.9250
3            4       1   272    0   47      1      0      49  53.1000
4            5       3    15    1   47      0      0     472   8.0500

In [349]:
test_2['Name'] = l.fit_transform(test_2['Name']) # Encode all Names
test_2['Sex'] = l.fit_transform(test_2['Sex']) #Encode all Genders
test_2['Ticket'] = l.fit_transform(test_2['Ticket']) # Encode all states
test_2['Age'] = l.fit_transform(test_2['Age'])
test_2['Fare'] = l.fit_transform(test_2['Fare'])
test_2 = test_2.drop(['Cabin','Embarked'],axis=1)
test_2

     PassengerId  Pclass  Name  Sex  Age  SibSp  Parch  Ticket  Fare
0            892       3   206    1   44      0      0     152    24
1            893       3   403    0   60      1      0     221     5
2            894       2   269    1   74      0      0      73    41
3            895       3   408    1   34      0      0     147    34
4            896       3   178    0   27      1      1     138    46
..           ...     ...   ...  ...  ...    ...    ...     ...   ...
413         1305       3   353    1   80      0      0     267    31
414         1306       1   283    0   51      0      0     324   154
415         1307       3   332    1   50      0      0     346     9
416         1308       3   384    1  124      0      0     220    31
417         1309       3   302    1  164      1      1     105    84

[418 rows x 9 columns]

In [350]:
test_2.isna().values.any()
test_2.isna().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
dtype: int64

In [351]:
y_train_2 = train_data['Survived']
#y_test_2 = test_result['Survived']
test_2['Survived'] = test_result['Survived']
#test_2 = test_2.dropna(how = 'any')
y_test_2 = test_2['Survived']
test_2 = test_2.drop(['Survived'],axis=1)
y_test_2

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [403]:
rf.fit(train_2,y_train_2)
#y_pred = rf.predict(test_2)

RandomForestClassifier(bootstrap=True, class_weight='balanced',
            criterion='gini', max_depth=None, max_features='auto',
            max_leaf_nodes=None, min_impurity_decrease=0.0,
            min_impurity_split=None, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=50, n_jobs=None, oob_score=False,
            random_state=None, verbose=0, warm_start=False)

In [404]:
y_pred_2 = rf.predict(test_2)

In [405]:
f1_score(y_test_2,y_pred_2,average='micro')

0.8014354066985646

GBM

In [410]:
gbm.fit(train_2,y_train_2)
y_pred_2 = gbm.predict(test_2)
f1_score(y_test_2,y_pred_2,average='micro')

0.7464114832535886

TREE

In [428]:
tree.fit(train_2,y_train_2)
y_pred_2 = tree.predict(test_2)
f1_score(y_test_2,y_pred_2,average='micro')

0.7153110047846891

NN

In [489]:
nn = MLPClassifier(activation='relu',alpha=0.01,hidden_layer_sizes=(25,17))
nn.fit(train_2,y_train_2)
y_pred_2 = nn.predict(test_2)

In [490]:
f1_score(y_test_2,y_pred_2,average='micro')

0.6076555023923444